<%- include('./partials/header.ejs') %>

<style>
  body {
    color: #0F0;
  }
  .center {
    text-align: center;
  }
</style>

<div class="center">
  <h1>Il n'y a rien à voir ici</h1>
</div>

<%- include('./partials/footer.ejs') %>
